@*Filename: about.cshtml
    Author Name: Sam Buensuceso, Sarina Luu
    Website Name: http://paramountbistro-part2.azurewebsites.net/
    File Description: About page view*@
@{
    ViewBag.Title = "About Us";
}
<h1>@ViewBag.Title</h1>
@*<h3>@ViewBag.Message</h3>*@

<p>Welcome to Paramount Bistro. We hope you have a great time!</p>
